body {
    background: url(../images/background.jpeg);
}

.wrapper {
    text-align: center;
    background: url(../images/secondbackground.jpeg);
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 100px;
    height: 450px;
}

.answer-generated {
    text-align: center;
}

.answer-generated:hover {
    border: 1px solid black;
    background: yellow;
    cursor: pointer;
}

.startButton {
    border: 1px solid black;
    background: yellow;
    cursor: pointer;
    text-align: center;

}

#answers {
    text-align: center;
}